html {
    font-family: 'Risque';
    overflow: none;
}
.header {
    display: flex;
    background-color: rgb(2, 31, 2);
    color: white;
    padding-top: 15px;
    height: 90px;
}
.navbar1 {
    display: flex;
    font-size: 30px;
    margin-left: 5px;
    margin-top: 5px;
}
.navbar1 h4 {
    margin-top: -3px;
}
.navbar2 ul{
    display: flex;
}
.navbar2 li {
    list-style: none;
    padding: 0px 7px;
    font-size: 25px;
    margin-left: 80px;
}
#health {
    background-color: gray;
    height: 480px;
}
