html{
  font-family: "Risque";
}
.header{
  display: flex;
  background-color: rgb(2, 31, 2);
  height: 100px;
  color: white;
  font-size: large;
}
#logo{
  display: flex;
}
#logo h5{
  color: white;
}
nav ul{
  margin: 30px;
}
nav ul>a{
  color: white;
  text-decoration: none;
  justify-content: space-around;
  padding: 50px;
 font-size: larger;
}
ul a:hover{
  text-decoration: underline 3px solid white;
}
.line{
  border: 3px solid rgb(2, 31, 2);
}
.counselling{
  display: flex;
  height: 300px;
  justify-content: space-around;
  padding: 20px;
}
#crisis{
  line-height: 30px;
}
#publication>img{
border: 4px;
box-shadow: 5px 5px 10px solid grey;
}
#publication button{
  text-decoration: underline 3px solid rgb(2, 31, 2);
  border: 0;
  padding: 10px;
  line-height: 15px;
  margin: 100px;
  border-radius: 15px;
  width: 100px;
}
#line{
  border: 6px solid rgb(2, 31, 2);
}
.child-abuse{
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
#abuse ol>a{
  text-decoration: none;
  color: black;
  font-size: x-large;
  display: block;
  text-align: center;
  line-height: 30px;
  
}
#abuse>a:hover{
  text-decoration: underline 3px rgb(2, 31, 2);
}
.family-t{
  display: flex;
  justify-content: space-around;
  padding: 40px;
  line-height: 30px;
  font-size: x-large;
}
#issues{
  background-color: grey;
  width: 400px;
  border-radius: 20px;
  align-items: center;
  padding: 50px;
  box-shadow: 5px 5px 20px grey;
}
footer{
  background-color: rgb(2, 31, 2);
  height: 70px;
  color: white;
  display: flex;
  justify-content: space-around;
}
#article ul a{
  display: block;
  text-decoration: none;
  font-size: larger;
}
#article a:hover {
  background-color: green;
}